 @charset "utf-8";

/* CSS Document */

* {
    padding: 0;
    marging: 0；
}

body {
    margin: 0px;
    background-image: ;
    background-repeat: repeat;
    background: url(image/096-04.jpg);
    background-attachment: fixed;
    position: relative;
}

video {
    max-width: 100%;
    height: auto;
    margin:auto;
    max-width: 100%;
    box-sizing: border-box;
}

a img {
    border: 0;
}

a {
    color: #999999;
    margin: 0px;
    padding: 0px;
}

#main {
    max-width: 1080px;
    margin: 0 auto;
    /*border:solid 1px #000000;*/
}

#header {
    background-image: url(image/header_950X219_02.gif);
    height: 313px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
}

@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }
    header h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

#logo {
    position: absolute;
    top: 10px;
    left: 0px;
}

#logo a {
    display: block;
    width: 228px;
    text-indent: -99999px;
    height: 219px;
    background: url(image/LOGO.png);
    background: url(image/LOGO.svg);
}

#bignav {
    position: absolute;
    top: 181px;
    padding-left: 5px;
    max-width: 733px;
    height: 131px;
    left: 0px;
}

ul#nav {
    overflow: auto;
    margin-left: 15px;
}

ul#nav li {
    float: left;
    list-style-type: none;
}

ul#nav li a {
    text-indent: -999px;
    display: block;
    height: 98px;
    width: 115px;
    margin: 0px;
    padding: 0px;
}

ul#nav li.about {
    background-image: url(image/nav_hover_98X115_06.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}


ul#nav li:hover.about {
    background-image: url(image/nav_hover_98X115_06.png);
    background-position: center bottom;
}


ul#nav li.about_selected {
    background-image: url(image/nav_select_06.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}



ul#nav li.gallery {
    background-image: url(image/nav_hover_98X115_08.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}

ul#nav li:hover.gallery {
    background-image: url(image/nav_hover_98X115_08.png);
    background-position: center bottom;
}

ul#nav li.gallery_selected {
    background-image: url(image/nav_select_08.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}


ul#nav li.web {
    background-image: url(image/nav_hover_98X115_10.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}

ul#nav li:hover.web {
    background-image: url(image/nav_hover_98X115_10.png);
    background-position: center bottom;
}

ul#nav li.web_selected {
    background-image: url(image/nav_select_10.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}



ul#nav li.line {
    background-image: url(image/nav_hover_98X115_12.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}

ul#nav li:hover.line {
    background-image: url(image/nav_hover_98X115_12.png);
    background-position: center bottom;
}

ul#nav li.line_selected {
    background-image: url(image/nav_select_12.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}




ul#nav li.hobby {
    background-image: url(image/nav_hover_98X115_14.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}

ul#nav li:hover.hobby {
    background-image: url(image/nav_hover_98X115_14.png);
    background-position: center bottom;
}

ul#nav li.hobby_selected {
    background-image: url(image/nav_select_14.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}


ul#nav li.contact {
    background-image: url(image/nav_hover_98X115_16.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center -40px;
    background-repeat: no-repeat;
}

ul#nav li:hover.contact {
    background-image: url(image/nav_hover_98X115_16.png);
    background-position: center bottom;
}

ul#nav li.contact_selected {
    background-image: url(image/nav_select_16.png);
    height: 115px;
    width: 98px;
    margin-right: 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
}


#content {
    border-radius: 8px;
    -ms-radius: 8px;
    /* IE 9 */
    -webkit-radisus: 8px;
    /* Safari and Chrome */
    -o-radius: 8px;
    /* Opera */
    -moz-radius: 8px;
    /* Firefox */
    max-width: 1080px;
    border: 1px solid #999;
    padding-top: 180px;
    background-color: #FFF;
    margin-top: -116px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

#indexonly_content {
    border-radius: 8px;
    -ms-radius: 8px;
    /* IE 9 */
    -webkit-radisus: 8px;
    /* Safari and Chrome */
    -o-radius: 8px;
    /* Opera */
    -moz-radius: 8px;
    /* Firefox */
    border: 1px solid #999;
    padding-top: 160px;
    background-color: #FFF;
    margin-top: -116px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

#footer {
    color: #666666;
    text-align: right;
    font-family: "MS Serif", "New York", serif;

    font-size: x-small;
    letter-spacing: 1pt;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 25px;
    background-image: url(image/71452511.gif);
    background-repeat: no-repeat;
    background-position: 930px center;
    line-height: 25px;
}

#big_img {
    height: 357px;
    width: 650px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    border: 1px outset #CCC;
    padding: 2px;
    color: #FFF;
}

#small_img {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
    float: left;
}

h1 {
    float: left;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: large;
    color: #85CBC4;
}



.p1 {
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    letter-spacing: 1pt;
    line-height: 25px;
    margin-right: 30px;
    color: #333;
    position: relative;
}

h2 {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: large;
    color: #85CBC4;
    margin-left: 30px;
}

.about-me_title_t {
    max-width: 1080px;
}

h7{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: large;
    color: #85CBC4;
    margin-left: 60px;
    padding: 10px;
}

#text-center {
    position: relative;
    width: 1065px;
    overflow: auto;
    margin: 20px auto;
    position: relative;
}

.about_avatar {
    display: inline-block;
    margin: 0px 0px 0px 60px;
    max-width: 60%;
    height: auto;
    border: 1px solid #CCC;
    float: left;
}

@media only screen and (min-width: 1170px) {
    .about_avatar {
        max-width: 15%;
    }
}

@media only screen and (min-width: 768px) {
    .about_avatar {
        max-width: 15%;
    }
}

.content_box {
    display: inline-block;
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    letter-spacing: 1pt;
    line-height: 25px;
    color: #666;
    margin: 0px 10px 0px 20px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #b6e0dc;
    padding: 15px;
    border-radius: 8px;
    -ms-radius: 8px;
    /* IE 9 */
    -webkit-radisus: 8px;
    /* Safari and Chrome */
    -o-radius: 8px;
    /* Opera */
    -moz-radius: 8px;
    /* Firefox */
}


td img {
    filter: alpha(opacity=30) !important;
    -moz-opacity: 0.3!important;
    opacity: 0.3!important;
    zoom: 1;
}

td img:hover {
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}

.content_box ul {
    padding-top: px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.content_box li {
    list-style-type: none;
    list-style-image: url(image/about/li_style.png);
}

.slider_big {
    max-width: 1080px;
    overflow: auto;
    margin: 0px 0px 0px 0px;
    position: relative;
}

.slider_box {
    position: relative;
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.slider_big a {
    margin-top: 15px;
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 20px;
}

.slider_big img {
    filter: alpha(opacity=40) !important;
    -moz-opacity: 0.4!important;
    opacity: 0.4!important;
    zoom: 1;
}

.slider_big img:hover {
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}

.slider_about img {
    zoom: 1;
}

.content_line_big {
    max-width: 1060px;
    overflow: auto;
    margin: 0px 0px 0px;
    position: relative;
    padding: 0px 5px 0px 5px;
}

.content_line {
    background-color: #FFFFFF;
    width: 280px;
    float: left;
    height: 400px;
    border: 8px solid #CCC;
    padding: 1px;
    margin-bottom: 20px;
}

.content_line img {
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5!important;
    opacity: 0.5!important;
    zoom: 1;
}

.content_line img:hover {
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}

.content_line_center {
    background-color: #FFFFFF;
    float: left;
    width: 280px;
    margin: 0px 10px 20px;
    margin-top: 0px;
    padding: 1px;
    height: 400px;
    border: 8px solid #CCC;
}

.content_line_center img {
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5!important;
    opacity: 0.5!important;
    zoom: 1;
}

.content_line_center img:hover {
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}

.menu_and_box {
    width: 1080px;
    overflow: auto;
    margin: 0px auto;
    position: relative;
}

.menu_and_box_inner {
    max-width: 1080px;
    position: relative;
    margin: auto;
}

.menu {
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
}

.menu li {
    list-style-image: url(image/web/webvisual/li_style.png);
    background-image: url(image/web/webvisual/menu_btn.png);
    background-repeat: no-repeat;
    text-decoration: none;
    list-style-type: none;
    list-style-position: inside;
    text-indent: 20px;
    margin-bottom: 20px;
}


.menu li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 3px;
}

.menu li:hover {
    background-image: url(image/web/webvisual/menu_btn.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.web_box {
    float: left;
    width: 870px;
    overflow: auto;
    margin: 0px 0px 10px;
    position: relative;
}


.title_t {
    color: #85CBC4;
    
    position: relative;
    margin-left: 0;
    line-height: 32px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px;
    background-position: left bottom;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
}

#gallery_title_t {
    padding-left: 40px;
}

.title_t_line {
    color: #85CBC4;
    height: 32px;
    width: 600px;
    line-height: 32px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    background-position: left bottom;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    text-indent: 8px;
}


#galleryContainer .navigation img[src="img/loader.gif"] {
    margin: 0 auto;
}


.column {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}


.web_box_small {
    width: 370px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #FFF;

    /*圓角*/
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    /*圓角*/
    float: left;
}

.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #AAAAAA;
    -moz-box-shadow: 0 10px 6px -6px #AAAAAA;
    box-shadow: 0 10px 6px -6px #AAAAAA;
}

.web_box_small img {
    width: 100%;
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5!important;
    opacity: 0.5!important;
    zoom: 1;
}

.web_box_small img:hover {
    width: 100%;
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}






/*
custom style start

*/

#contentContainer {
    padding: 60px 0;
    margin: 0 auto;
}

#galleryContainer img[src="img/loader.gif"] {
    width: 32px;
    margin: 30% auto;
}

#galleryContainer .navigation img[src="img/loader.gif"] {
    margin: 0 auto;
}






/* pager */

#contentContainer .navigation,
#infscr-loading {
    color: #999;
    font-size: 1.4em;
    text-align: center;
    padding: 1em;
}

#contentContainer .navigation a {
    visibility: hidden;
}






/*
custom style end

*/

.Breadcrumb {
    float: right;
    font-size: small;
    color: #85CBC4;
    margin-right: 80px;
    background-image: url(image/home.png);
    background-position: 0px -1px;
    background-repeat: no-repeat;
    margin-top: 332px;
    padding-left: 20px;
}

.Breadcrumb li {
    list-style-type: none;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
}

h3 {
    color: #999;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
    background-image: url(image/web/banner/li_style.png);
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: 10px;
    float: left;
}

h4 {
    color: #033;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
    background-position: left center;
    background-repeat: no-repeat;
    text-indent: 10;
    float: left;
    letter-spacing: 0.05em;
}

h5 a{
    color: #003C9D;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 13px;
}
.ad_box {
    display: inline-block;
    float: left;
    border: 1px solid #999;
    margin: 0px 30px 30px 0px;
    -webkit-box-shadow: 0 10px 6px -6px #AAAAAA;
    -moz-box-shadow: 0 10px 6px -6px #AAAAAA;
    box-shadow: 0 10px 6px -6px #AAAAAA;
}

.small-line {
    margin-top: 5px;
    margin-bottom: 10px;
    clear: both;
    width: 90%;
}

.p2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    letter-spacing: 1pt;
    line-height: 25px;
    margin-bottom: 10px;
    color: #333;
    width: 570px;
}

.ad_box_small {
    display: inline-block;
    float: left;
    margin: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #AAAAAA;
    -moz-box-shadow: 0 10px 6px -6px #AAAAAA;
    box-shadow: 0 10px 6px -6px #AAAAAA;
}

.ad_box_small_nagai {
    display: inline-block;
    float: left;
    height: 250px;
    width: 500px;
    margin: 5px;
}

.hobby_large {
    float: left;
}

.hobby_large img {
    margin: 25px 40px 0px 0px;
    border: 1px dotted #CCC;
}

.hobby_small_img {
    margin: 150px 0px 0px 0px;
    height: 130px;
    width: 130px;
    float: left;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.p3 {
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    letter-spacing: 1pt;
    line-height: 23px;
    margin-right: 0px;
    margin-bottom: 15px;
    color: #333;
    position: relative;
}






/*攝影羊毛氈照片*/

.collection_box {}

.collection_box img {
    margin-right: 10px;
    margin-bottom: 10px;
    filter: alpha(opacity=70) !important;
    -moz-opacity: 0.7!important;
    opacity: 0.7!important;
    zoom: 1;
}

.collection_box img:hover {
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1!important;
    opacity: 1!important;
    zoom: 1;
}

#apDiv3 {
    position: absolute;
    z-index: 10;
    left: -60px;
    top: 580px;
}

#contact_box {
    width: 1070px;
    overflow: auto;
    height: 500px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(image/contact/contact_paint.gif);
    background-repeat: no-repeat;
    position: relative;
    padding-right: 95px;
    padding-left: 95px;
    box-sizing: border-box;
}

#contact_box_img {
    font-family: "Comic Sans MS", cursive;
    color: #5CBAB0;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    max-width: 760px;
    overflow: auto;
    height: 450px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

/*表單title*/

.ss-q-title {
    color: #666;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 12px;
}






/*表單title說明文字*/

.ss-secondary-text {
    color: #999;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: small;
    letter-spacing: 1px;
}






/*星星符號*/

.ss-required-asterisk {
    color: #C60;
    letter-spacing: 1px;
    font-size: small;
    font-family: "Arial Black", Gadget, sans-serif;
}


/*短表格輸入內容*/

.ss-q-short {
    border-top-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    width: 150px;
}


/*長表格輸入內容*/

.ss-q-long {
    border-top-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-left-style: ridge;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    overflow: auto;
    width: 300px;
}

.linepage {
    max-width: 812px;
    text-align: center;
}


/*LINE首頁貼圖標誌點開內容CSS*/

.line_allsticker {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #399;
    padding: 8px 0px;
    margin: -5px 0px 0px 0px;
    text-decoration: none;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    letter-spacing: 0.1em;
}

.line_allsticker {
    background: rgba(102, 205, 170, 0.8);
}

.line_allsticker:hover {
    background: rgba(95, 158, 160, 1);
    color: white;
}

.line_alltheme {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #b5b17c;
    padding: 8px 0px;
    margin: -5px 0px 0px 0px;
    text-decoration: none;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    letter-spacing: 0.1em;
}

.line_alltheme {
    background: rgba(235, 231, 183, 0.8);
}

.line_alltheme:hover {
    background: rgba(181, 177, 124, 1);
    color: white;
}

#gotop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 50px;
    padding: 10px 16px;
    font-size: 25px;
    background: #85CBC4;
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
    font-weight: bolder;
}


/*csslint outline-none:false按鈕樣式*/

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80);
    /* rgba supported */
    border: 1px solid #999;
    /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);
    /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    margin: 5px auto 40px;
}

.btn-hover,
.btn:hover,
.btn:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.btn:focus {
    outline: 0;
}

.btn-active,
.btn:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000\9;
}

.btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.btn-hidden {
    display: none;
}

.btn-primary,
.btn-selected,
a.btn-primary,
a.btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.btn-penguin {}

a.btn-penguin {
    color: #fff;
    background: #85CBC4;
}


/* Button Groups */

.btn-group .btn {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;
    /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}


/* 按鈕樣式結束pure css end */
@media only screen and (max-width:1024px) {

.menu {
        float: none;
        max-width: 1080px;
        margin: auto;
    }
    .menu_and_box {
        max-width: 1024px;
    }
    .web_box {
        box-sizing: border-box;
        margin: 0px;
        padding: 0 1% 0 1%;
        position: relative;
        width: 100%;
    }
}
@media only screen and (max-width:812px) {
    h2 {
        font-size: 20px;
    }
    .title_t {
        font-size: 20px;
        text-align: center;
    }
    h7 {
        font-size: 20px;
    }
    #text-center {
        max-width: 94%;
        width: 94%;
    }
    #header {
        background-image: url(image/header_950X219_max812.gif);
        max-height: 313px;
        background-repeat: no-repeat;
        position: relative;
        z-index: 10;
    }
    #logo {
        position: absolute;
        left: 180px;
    }
    .menu {
        float: none;
        max-width: 1080px;
        margin: auto;
    }
    .menu_and_box {
        box-sizing:border-box;
        max-width: 812px;
        padding-left:5px;
        padding-right:5px;
    }
   #contact_box {
    max-width: 812px;
}
}


@media only screen and (max-width:768px) {
    h2 {
        font-size: 20px;
    }
    .title_t {
        font-size: 20px;
        text-align: center;
    }
    h7 {
        font-size: 20px;
    }
    #text-center {
        max-width: 94%;
        width: 94%;
    }

    #header {
        background-image: url(image/header_950X219_max768.gif);
        max-height: 313px;
        background-repeat: no-repeat;
        position: relative;
        z-index: 10;
    }
    #logo {
        position: absolute;
        left: 160px;
    }
    .Breadcrumb {
        display: none;
    }
    .slider_big img {
        filter: alpha(opacity=100) !important;
        -moz-opacity: 1!important;
        opacity: 1!important;
        zoom: 1;
    }
    .slider_box {
        margin: auto;
        box-sizing: border-box;
        text-align: center;
        padding: 0 8px 0 8px;
    }

    .slider_big a {
        display: inline-block;
        margin-top: 15px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 20px;
    }

    .content_line_big {
        max-width: 94%;
        width: 94%;
    }
    #contact_box {
        max-width: 94%;
        width: 94%;
    }
    .menu {
        float: none;
        max-width: 1080px;
        margin: auto;
    }
    .menu_and_box {
        max-width: 768px;
    }
    .web_box {
        box-sizing: border-box;
        margin: 0px;
        padding: 0 1% 0 1%;
        position: relative;
        width: 100%;
    }
    .web_box p {
        -webkit-margin-before: 20px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
    .hobby_large {
        max-width: 100%;
        float: none;
        position: relative;
        margin: 0 auto;
    }
    .hobby_large img {
        margin: 0 auto;
        display: block;
    }

    .hobby_small_img {
        margin: 0px 0px 0px 0px;
        height: 130px;
        width: 130px;
        float: right;
        position: absolute;
        bottom: 10px;
        right: 80px;
    }
    .collection_box_photo {
        margin: 0 auto;
        text-align: center;
        display: block;
    }

    .collection_box_photo table {
        margin: 0 auto;
    }

    h3 {
        position: relative;
        margin-left: 0;
        text-align: center;
        float: none;
        background-image: none;
        margin-top: 25px;
    }
    .small-line {
        position: relative;
        width: 100%;
    }
    .small-line img {
        width: 100%;
        height: 10px;
        margin-bottom: 10px: background-repeat: repeat-x;
    }
    .p2 {
        width: 100%;
        text-align: center;
    }
    .web_box_small {
        margin-bottom: 20px;
        margin-right: 50px;
        width: 365px;
    }
    .web_box_small img {
        width: 100%;
        filter: alpha(opacity=100) !important;
        -moz-opacity: 1!important;
        opacity: 1!important;
    }
    .p3 {
        position: relative;
        float: none;
    }

    #big_banner {
        max-width: 768px;
        height: auto;
        overflow: auto;
        position: relative;
        float: none;
        margin: 0 0 5px 48px;
    }

    .p3 {
        position: relative;
        text-align: center;
    }
    .ad_box {
        margin:30px auto;
        margin-top: 10px;
    }
    .ad_box_small {
        float: none;
    }

    @media only screen and (max-width:767px) {

        .hobby_small_img {
            display: none;
        }

        .title_t {
            font-size: 20px;
        }
        #header {
            background-image: url(image/header_950X219_max414.gif);
            max-height: 313px;
            background-repeat: no-repeat;
            position: relative;
            z-index: 10;
        }
        .hobby_large {
            max-width: 100%;
            float: none;
            position: relative;
            margin: 0 auto;
        }
        .hobby_large img {
            margin: 0 auto;
            display: block
        }
        .menu_and_box {
            max-width: 767px;
            overflow: auto;
            margin: 0px auto;
            position: relative;
        }
        .menu_and_box_inner {
            margin: auto;
            max-width: 767px;
            position: relative;
        }
        .web_box {
            box-sizing: border-box;
            margin: 0 auto;

            position: relative;
            max-width: 767px;
        }
        .web_box_small {
            margin-bottom: 20px;
            margin: auto;
            width: 365px height: auto;
        }
    }
}


@media only screen and (max-width:736px) {
    #header {
        background-image: url(image/header_950X219_max736.gif);
        max-height: 313px;
        background-repeat: no-repeat;
        position: relative;
        z-index: 10;
    }
    #logo {
        position: absolute;
        left: 160px;
    }
    .menu_and_box {
        max-width: 736px;
    }

    #text-center{
        text-align: center;
    }
    .about_avatar{
    display: flex;
    justify-content:center;
    margin: 0px;
    max-width: 100%;
    height: auto;
    border:none;
    float: none;
}
.about-me_title_t {
    max-width: 667px;
    text-align: center;
}
h7{
    padding: 0px;
    margin-left: 0px;
}
.content_box {
    float: none;
    line-height: 25px;
    color: #666;
    margin: 20px 0px 0px 0px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #b6e0dc;
    padding: 15px;
    border-radius: 8px;
    -ms-radius: 8px;
    /* IE 9 */
    -webkit-radisus: 8px;
    /* Safari and Chrome */
    -o-radius: 8px;
    /* Opera */
    -moz-radius: 8px;
    /* Firefox */
}

}



/*選單從這個尺寸開始變成方塊型start*/

@media only screen and (max-width:667px) {
    #bignav {
        padding-left: 0px;
        max-width: 667px;
        height: auto;
        margin: auto;
    }

    ul#nav {
        position: relative;
        overflow: auto;
        margin-left: 0px;
    }

    ul#nav li {
        display: flex;
        position: relative;
        width: 33.333333%;
        float: left;
        text-align: center;
    }

    ul#nav li a {
        text-indent: 0px;
        text-align: center;
        padding: 1em;
        height: 15px;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 2px;
        margin:0px auto;
    }

    ul#nav li.about {
        width: 33.333333%;
        background-image: none;
        background-color: #85CBC4;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.about {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.about_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }

    ul#nav li.gallery {
        width: 33.333333%;
        background-image: none;
        background-color: #77bab3;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.gallery {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.gallery_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }
    ul#nav li.web {
        width: 33.333333%;
        background-image: none;
        background-color: #85CBC4;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.web {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.web_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }
    ul#nav li.line {
        width: 33.333333%;
        background-image: none;
        background-color: #77bab3;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.line {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.line_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }
    ul#nav li.hobby {
        width: 33.333333%;
        background-image: none;
        background-color: #85CBC4;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.hobby {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.hobby_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }
    ul#nav li.contact {
        width: 33.333333%;
        background-image: none;
        background-color: #77bab3;
        height: auto;
        margin-right: 0px;
        background-position: center 0px;
    }
    ul#nav li:hover.contact {
        background-image: none;
        width: 33.333333%;
        background-position: center 0px;
    }
    ul#nav li.contact_selected {
        width: 33.333333%;
        background-image: none;
        background-color: #528781;
        height: auto;
        margin-right: 0px;
    }
    .menu_and_box {
        max-width: 667px;
    }
#gallery_title_t {
    text-align: center;
    padding-left: 0px;
}
h2{
    text-align: center;
    margin-left: 0px;
}
#indexonly_content {
 padding-top: 110px;
                }
#content {
padding-top: 110px;
 }
}
    /*選單從這個尺寸開始變成方塊型-end*/
    @media only screen and (max-width:640px) {
        .menu_and_box {
            max-width: 640px;
        }



  @media only screen and (max-width:568px) {
            #header {
                background-image: url(image/header_950X219_max568.gif);
                max-height: 313px;
                background-repeat: no-repeat;
                position: relative;
                z-index: 10;
            }
            #logo {
                position: absolute;
                left: 80px;
            }
            .menu_and_box {
                max-width: 568px;
            }
            #contact_box{
                padding-left: 10px;
                padding-right: 10px;
            }
        }


 @media only screen and (max-width:414px) {

                .hobby_small_img {
                    display: none;
                }

                .title_t {
                    font-size: 19px;
                }

                #header {
                    background-image: url(image/header_950X219_max414.gif);
                    max-height: 313px;
                    background-repeat: no-repeat;
                    position: relative;
                    z-index: 10;
                }
                #logo {
                    position: absolute;
                    left: 10px;
                }
                
                .hobby_large {
                    max-width: 100%;
                    float: none;
                    position: relative;
                    margin: 0 auto;
                }

                .hobby_large img {
                    margin: 0 auto;
                    display: block
                }

                .web_box_small {
                    margin-bottom: 20px;
                    margin-right: 0px;
                    width: 100%;
                    height: auto;
                }

                .menu_and_box {
                    max-width: 414px;
                }
                .collection_box_photo {
                    max-width: 414px;
                }
                #big_banner {
                    max-width: 400px;
                    margin-left: 0px;
                }
                #contact_box{
                padding-left:30px;
                padding-right:30px;
                background-image: none;
            }
            }




            .collection_box {
                text-align: left;
            }

            @media only screen and (max-width:375px) {
                #header {
                    background-image: url(image/header_950X219_max375.gif);
                    max-height: 313px;
                    background-repeat: no-repeat;
                    position: relative;
                    z-index: 10;
                }
                #bignav {
                    top: 160px;
                }

                .menu_and_box {
                    max-width: 375px;
                }

                #logo {
                    position: absolute;
                    top: 3px;
                    left: 16px;
                }

                #logo a {
                    display: block;
                    width: 228px;
                    text-indent: -99999px;
                    height: 219px;
                    background: url(image/LOGOmedium.png) no-repeat;
                    background: url(image/LOGOmedium.svg) no-repeat;
                }
                
            }

            @media only screen and (max-width:320px) {

                #header {
                    background-image: url(image/header_950X219_max320.gif);
                    max-height: 313px;
                    background-repeat: no-repeat;
                    position: relative;
                    z-index: 10;
                }
                #bignav {
                    top: 160px;
                }
                .menu_and_box {
                    max-width: 320px;
                }

                #logo {
                    position: absolute;
                    top: 25px;
                    left: 8px;
                }

                #logo a {
                    display: block;
                    width: 228px;
                    text-indent: -99999px;
                    height: 219px;
                    background: url(image/LOGOsmall.png) no-repeat;
                    background: url(image/LOGOsmall.svg) no-repeat;
                }

                .collection_box img {
                    margin-left: 2.5px;
                    margin-right: 2.5px;
                }

                .fancybox-buttons img {
                    width: 140px;
                }
            }
            /*自適應表格開始*/
            .rwd-table {
                background: #fff;
                overflow: hidden;
            }

            .rwd-table tr:nth-of-type(2n) {
                background: #eee;
            }
            .rwd-table th,
            .rwd-table td {
                margin: 0.5em 1em;
            }
            .rwd-table {
                min-width: 100%;
            }

            .rwd-table th {
                display: none;
            }

            .rwd-table td {
                display: block;
            }

            .rwd-table td:before {
                content: attr(data-th) " : ";
                font-weight: bold;
                width: 6.5em;
                display: inline-block;
            }

            .rwd-table th,
            .rwd-table td {
                text-align: left;
            }

            .rwd-table th,
            .rwd-table td:before {
                color: #D20B2A;
                font-weight: bold;
            }

            @media (min-width: 480px) {
                .rwd-table td:before {
                    display: none;
                }
                .rwd-table th,
                .rwd-table td {
                    display: table-cell;
                    padding: 0.25em 0.5em;
                }
                .rwd-table th:first-child,
                .rwd-table td:first-child {
                    padding-left: 0;
                }
                .rwd-table th:last-child,
                .rwd-table td:last-child {
                    padding-right: 0;
                }
                .rwd-table th,
                .rwd-table td {
                    padding: 1em !important;
                }
            }
            /*自適應表格結束*/